---
import LayoutView from "../layouts/LayoutView.astro";
---

<LayoutView title="Statement" id="statement">
  <div class="grid grid-cols-1 gap-6 mt-10">
    <p>
      MURU 7.8 is an artistic collective that, since 2018, brings together
      Claudia Valente, Nic Motta, Guadalupe Chávez Pardo, digital-electro
      artists and researchers engaging in reflective practices concerning the
      need to form new partnerships for the care of the biosphere.
    </p>
    <p>
      In their tecno-poetic devices, technology plays a crucial role in
      revealing vital dimensions of the habitat while minimizing disturbance.
      Their projects are conceived as models of transdisciplinary research,
      giving rise to crystallizations, audiovisuals, and physical manifestations
      within synthetic and phenomenological universes.
    </p>
    <p>
      MURU 7.8 works within a contemporary context marked by ecological
      emergencies. From a Latin American perspective, they consider it necessary
      to formulate a critical understanding rooted in alternative forms of
      perception and ways of experiencing nature, a sentiment shared by other
      artists. The concept of the non-human encourages the construction of
      alternative possible worlds, challenging ecocidal, economic,
      epistemological, and symbolic models that alarmingly threaten life and
      ecosystems.
    </p>
    <p>
      The collective's intention transforms into a quest for new cooperation
      systems. They enable tecno-poetic devices that awaken knowledge ethically
      aligned with the territory, interweaving various fields of contemporary
      and indigenous knowledge. They generate non-hegemonic narratives that
      prompt us to reconsider and rediscover non-human languages, subverting the
      technological order through open-source development and easy
      socialization.
    </p>
  </div>
</LayoutView>
