---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Between the Nymph and Achira / Namiki System / Interspecies Biosemiotics"
>
  <h3 class="text-center mt-28 font-semibold text-2xl uppercase text-primary">
    Between the Nymph and Achira / Namiki System / Interspecies Biosemiotic
  </h3>
  <hr class="mt-2 w-1/4 m-auto opacity-50 border-primary" />
  <p class="text-center my-2 text-lg font-semibold">2021</p>

  <h2 class="text-center mt-4">
    Virtual performance at ProyectoBios - Cultural Center of Science - Buenos
    Aires, Argentina
  </h2>
  <p class="my-10">
    Nymph and Achira is an interspecific performance that promotes biosemiotic
    exchanges between a dancer and garden vegetation. The movements sensation of
    both the dancer and the plants are digitally processed and transduced into
    real-time audiovisual projection. This communicative dynamic fosters an
    unpredictable drifting connection, influenced by both the wind and the
    dancer`s emotions. The duration varies, and the interlanguage system
    reinforces the idea of equality among living entities.
  </p>
  <iframe
    class="mb-10"
    width="100%"
    height="450"
    src="https://www.youtube.com/embed/4djTPd6C39k?si=pBXB3-IU-qfvrM4g"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  >
  </iframe>

  <iframe
    width="100%"
    height="450"
    src="https://www.youtube.com/embed/AzEQ27JLGzk?si=EJY8n0LdOTNgO2Bn"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  >
  </iframe>
</Layout>
