---
import Layout from "../layouts/Layout.astro";
import { CONTENT_INDEX } from "../constants/content.js";
---

<Layout title="Exhibitions">
  <div class="grid grid-cols-1 gap-6 mt-10">exhibitions</div>
</Layout>
