---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Herbarium of wild flowers from South America in times of neoliberalism"
>
  <h3 class="text-center mt-28 font-semibold text-2xl uppercase text-primary">
    Herbarium of wild flowers from South America in times of neoliberalism
  </h3>
  <hr class="mt-2 w-1/4 m-auto opacity-50 border-primary" />
  <p class="text-center my-2 text-lg font-semibold">2019</p>

  <h2 class="text-center mt-4">
    Bienalsur - Buenos Aires, Argentina / San José, Costa Rica
  </h2>
  <p class="my-10">
    Herbario de flores silvestres de América del Sur en tiempos de
    neoliberalismo is a platform for contemplation and creative exploration
    concerning the relationship between natural and political systems. This
    concept materializes through installations incorporating
    multimedia/interactive books and mechatronic structures.
  </p>
  <p class="my-10">
    The project emerges from our empathy with wildflowers that resist
    domestication, exhibiting behavior patterns applicable to individuals within
    a neoliberal political context. The flowers' conduct inspires a collection
    of syncretic multimedia books that embrace diverse languages, dynamics, and
    perspectives, forming a multifaceted encyclopedia.
  </p>
  <p class="my-10">
    Simultaneously, a mechatronic flower unfurls geometries, revealing its
    intelligence both in physical design and through visually projected outcomes
    from artificial intelligence analysis.
  </p>
  <p class="my-10">
    Artistic and theoretical productions converge to create matrices offering
    diverse and decentered interpretations of hegemonic systems
  </p>
  <iframe
    width="100%"
    height="450"
    src="https://www.youtube.com/embed/neAZah47z-s?si=9psotFC5tI69BAvZ"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  >
  </iframe>
</Layout>
