---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Namiki: Crystallizations">
  <h3 class="text-center mt-28 font-semibold text-2xl uppercase text-primary">
    Namiki: Crystallizations
  </h3>
  <hr class="mt-2 w-1/4 m-auto opacity-50 border-primary" />
  <p class="text-center my-2 text-lg font-semibold">2019</p>

  <p class="my-10">
    In the Namiki project, we let ourselves be guided by the resonances of
    minimal events in our environment to discover, in their sensing and
    visualization, the union between living entities.
  </p>
  <p class="my-10">
    The videos on this page show the referents and the process of
    crystallization of their resonances, which we have managed to record. This
    opens up an energetic and vibrant aspect that will form a playful and
    virtual universe in which we are working.
  </p>

  <div class="flex flex-col gap-5 w-full">
    <iframe
      width="100%"
      height="450"
      src="https://www.youtube.com/embed/EovtwRubOX4"
      allow="autoplay; fullscreen"
      allowfullscreen></iframe>

    <iframe
      width="100%"
      height="450"
      src="https://www.youtube.com/embed/Cj59z7WlXRQ"
      allow="autoplay; fullscreen"
      allowfullscreen></iframe>

    <iframe
      src="https://player.vimeo.com/video/464787750"
      width="100%"
      height="450"
      allow="autoplay; fullscreen"
      allowfullscreen></iframe>

    <iframe
      src="https://player.vimeo.com/video/464802198"
      width="100%"
      height="450"
      allow="autoplay; fullscreen"
      allowfullscreen></iframe>
  </div>
</Layout>
