---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Namiki: Resonances and genesis">
  <h3 class="text-center mt-28 font-semibold text-2xl uppercase text-primary">
    Namiki: Resonances and genesis
  </h3>
  <hr class="mt-2 w-1/4 m-auto opacity-50 border-primary" />
  <p class="text-center my-2 text-lg font-semibold">2019</p>

  <p class="my-10">
    The Namiki project (in Nahuatl, "to meet on the path") invites us to
    perceive the resonances of minimal events in our environment and discover,
    through their sensing and audiovisual crystallization, the union between
    living entities. We have developed a research model to sense the expanding
    vector force of different entities, particularly observing the energetic and
    vibrant aspect of the movement of bodies in space and their friction with
    it.
  </p>
  <p class="my-10">
    The project evolved from the confinement imposed by the Covid 19 pandemic.
    Telecommunicated, we developed the sensing devices, philosophized about our
    relationship with life, and chose minimal gestures from our universes cut by
    confinement.
  </p>
  <p class="my-10">
    In a first stage, we planned a Resonance Observatory, a database with the
    graphs of the sensed data, the first instance of abstraction and dialogue
    between the different events in the environment. We also documented the
    passage from the phenomenal plane to the virtual in video, which you can see
    in Namiki: Crystallizations.
  </p>
  <p class="my-10">
    With the generated data, we create virtual spaces. On the one hand, Namiki:
    Art Game, a game that invites you to travel through a universe of natural
    microtextures. During the journey, you will meet stones that will open a
    dialogue for you to tell them about your life experience in the world. If
    you answer, your answers will be gathered in a text sheltered within a
    circle of stones in the last stage. On the other hand, Namiki Universe,
    opens a virtual journey between orbiting lithic crystallizations to help us
    think about the energetic, vibrant, and inseparable aspect that form the
    living entities in unity.
  </p>

  <p class="my-10">
    The Ninfa y Achira performance records the dialogue between a dancer and a
    plant. Both beings are sensed in real time, their data is transmitted via
    Wi-Fi and processed to generate the audiovisual content that is projected
    onto themselves. In this way, the dialogue that equalizes and unites them is
    fed back.
  </p>

  <p>
    MURU 7.8 develops a research model to sense the expanding vector force of
    living entities. This Resonance Observatory will form a database that will
    feed several projects. In the following launches, you will be able to find
    each of the logs.
  </p>

  <div class="flex flex-col gap-2 text-left my-5">
    <a
      class="text-primary hover:text-secondary text-lg"
      href="https://muru7-8.github.io/observatorio-resonancia/Sensado_Semillas"
      >· Semillas de Achira</a
    >
    <a
      class="text-primary hover:text-secondary text-lg"
      href="https://muru7-8.github.io/observatorio-resonancia/Sensado_Achira"
      >· Achira en la tormenta</a
    >
    <a
      class="text-primary hover:text-secondary text-lg"
      href="https://muru7-8.github.io/observatorio-resonancia/Sensado_Fatsia"
      >· Fatsia Japónica en el solsticio</a
    >
    <a
      class="text-primary hover:text-secondary text-lg"
      href="https://muru7-8.github.io/observatorio-resonancia/Sensado_Lombrices"
      >· Lombrices</a
    >
    <a
      class="text-primary hover:text-secondary text-lg"
      href="https://muru7-8.github.io/observatorio-resonancia/Sensado_Pajaros"
      >· En invierno alimento a los pájaros</a
    >
    <a
      class="text-primary hover:text-secondary text-lg"
      href="https://muru7-8.github.io/observatorio-resonancia/Sensado_Brus"
      >· Paseo de Brus</a
    >
  </div>

  <div class="flex flex-col gap-5 w-full">
    <iframe
      width="100%"
      height="450"
      src="https://www.youtube.com/embed/NdFNJYZQVuQ?si=OviBjHPhcIHrs-Ic"
      allow="autoplay; fullscreen"
      allowfullscreen></iframe>
  </div>
</Layout>
