---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Respiro Namiki">
  <h3 class="text-center mt-28 font-semibold text-2xl uppercase text-primary">
    Respiro Namiki
  </h3>
  <hr class="mt-2 w-1/4 m-auto opacity-50 border-primary" />
  <p class="text-center my-2 text-lg font-semibold">2023</p>

  <h2 class="text-center mt-4">
    Coexistences - Tecnópolis - Buenos Aires, Argentina
  </h2>
  <p class="text-primary text-lg hover:text-secondary text-center my-2">
    <a href="https://respiro-namiki.netlify.app/" target="_blank"
      >Visit Respiro Namiki</a
    >
  </p>

  <p class="my-10">
    Respiro Namiki is an aesthetic, bioactivist, and sensory experience of
    everyday life. Its system is comprised by models generated from biodata and
    collaborative virtual atmosphere nested on the web. The shapes of the
    models, as well as the projected lights, emerge from the sensing of vital
    events. The embedded device in them monitors the concentration of carbon
    dioxide (CO2) in the air, this chemical compound being one of the main
    indicators of pollution and long-term impact.
  </p>
  <p class="my-10">
    The atmosphere is a natural element that touches, connects, and keeps us
    alive, is something we all share. Namiki Atmosphere allows visualizing the
    network of active devices in different locations. In it, an interconnected
    community is formed with possibilities for mutual protection. Anyone
    interested can join the project and build their own module. By connecting it
    to the Namiki atmosphere, they will inhabit the aesthetic experience day to
    day, merging art and life.
  </p>

  <iframe
    class="mb-10"
    width="100%"
    height="450"
    src="https://www.youtube.com/embed/SdXMahmvjEM?si=88S0FBNfJw8hxLb8"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  >
  </iframe>
</Layout>
