---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tradescantia">
  <h3 class="text-center mt-28 font-semibold text-2xl uppercase text-primary">
    Tradescantia
  </h3>
  <hr class="mt-2 w-1/4 m-auto opacity-50 border-primary" />
  <p class="text-center my-2 text-lg font-semibold">2018</p>
  <h2 class="text-center uppercase mt-4">
    First Prize Arcitec - Centro Cultural San Martín - Buenos Aires, Argentina
  </h2>
  <p class="my-10">
    Tradescantia installation suggests to the spectator to reconfigure their
    gaze in the face of nature. A mechatronic/visual device inspired by the
    behavior and structure of this flower operates as a mobile screen for video
    mapping. Images resulting from the analysis of video recordings of natural
    beings in organized groups are projected. Through video tracking and
    editing, the geometries and sounds underlying behaviors are revealed, both
    in flocks of birds flying and in the actions of riot police on crowds. The
    modes of organization in different living communities display spatial and
    functional patterns that seem to emerge from a collective brain.
    Simultaneously, statistical data on pollution randomly disturb the
    installation system, altering the tonality of the video projected through
    mapping.
  </p>
  <iframe
    width="100%"
    height="450"
    src="https://www.youtube.com/embed/_hF6CWlgKIg?si=sg2JJMyRVe6tw3L0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  >
  </iframe>
</Layout>
