<header>
  <div class="text-center mt-2 md:mt-8">
    <a
      href="/"
      class="font-semibold text-2xl m-1 text-primary hover:text-secondary transition sm:text-5xl"
      >MURU 7.8</a
    >
    <hr class="mt-2 m-auto w-1/2 opacity-50 border-primary" />
  </div>

  <div
    class="grid grid-cols-2 gap-2 text-base font-medium text-center mt-3 m-auto md:grid-cols-4"
  >
    <a href="/" class="hover:text-primary">PROJECTS</a>
    <a href="#statement" class="hover:text-primary">STATEMENT</a>
    <a href="#about-us" class="hover:text-primary">ABOUT US</a>
    <a href="#events" class="hover:text-primary">EVENTS</a>
  </div>
</header>
